<td-layout class="'mat-light-theme'" [mode]="'side'" [opened]="true" [sidenavWidth]="'257px'">

    <mat-nav-list td-sidenav-content (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">


      <a mat-list-item routerLink="/">
        <mat-icon >home</mat-icon>
        Home
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'38px'" [expandedHeight]="'50px'">
          <span class="fw-500">Messages</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/message/DM-MedicationRequest">prescription-order</a>
          <a mat-list-item routerLink="/message/DM-MedicationRequest">prescription-order-update</a>
          <a mat-list-item routerLink="/message/DM-MedicationRequest">prescription-order-response</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'38px'" [expandedHeight]="'50px'">
          <span class="fw-500">Profiles</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/profile/DM-MedicationRequest">DM-MedicationRequest</a>
          <a mat-list-item routerLink="/profile/DM-MedicationRequest">DM-Patient</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'38px'" [expandedHeight]="'50px'">
          <span class="fw-500">CodeSystem</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/codesystem/DM-CoureOfTherapy">DM-CodeSystem</a>

        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'38px'" [expandedHeight]="'50px'">
          <span class="fw-500">ValueSet</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/codesystem/DM-CoureOfTherapy">DM-ValueSet</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'38px'" [expandedHeight]="'50px'">
          <span class="fw-500">ConceptMap</span>
        </mat-expansion-panel-header>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'38px'" [expandedHeight]="'50px'">
          <span class="fw-500">Extensions</span>
        </mat-expansion-panel-header>

      </mat-expansion-panel>

    </mat-nav-list>

  <router-outlet></router-outlet>
</td-layout>

