<td-layout class="'mat-light-theme'" [mode]="'side'" [opened]="true" [sidenavWidth]="'257px'">

    <mat-nav-list td-sidenav-content>
      <a mat-list-item>
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-list-item>Profiles</a>
      <mat-nav-list>
        <a mat-list-item routerLink="/profile/DM-MedicationRequest">DM-MedicationRequest</a>
      </mat-nav-list>
      <a mat-list-item>Extensions</a>
      <a mat-list-item>CodeSystem</a>
      <a mat-list-item>ValueSet</a>
      <a mat-list-item>ConceptMap</a>
    </mat-nav-list>

  <router-outlet></router-outlet>
</td-layout>

